{% extends 'myapp/base_dashboard.html' %}

{% block title %}Add Equipment{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4><i class="fas fa-plus"></i> Add New Equipment</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="form-group mb-3">
                            <label for="{{ form.machine_id.id_for_label }}">Machine ID *</label>
                            {{ form.machine_id }}
                            {% if form.machine_id.errors %}
                                <div class="text-danger">{{ form.machine_id.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group mb-3">
                            <label for="{{ form.machine_name.id_for_label }}">Machine Name *</label>
                            {{ form.machine_name }}
                            {% if form.machine_name.errors %}
                                <div class="text-danger">{{ form.machine_name.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group mb-3">
                            <label for="{{ form.machine_type.id_for_label }}">Machine Type *</label>
                            {{ form.machine_type }}
                            {% if form.machine_type.errors %}
                                <div class="text-danger">{{ form.machine_type.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group mb-3">
                            <label for="{{ form.machine_location.id_for_label }}">Location *</label>
                            {{ form.machine_location }}
                            {% if form.machine_location.errors %}
                                <div class="text-danger">{{ form.machine_location.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="{{ form.last_calibration_date.id_for_label }}">Last Calibration Date</label>
                                    {{ form.last_calibration_date }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="{{ form.calibration_interval_days.id_for_label }}">Calibration Interval (Days)</label>
                                    {{ form.calibration_interval_days }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="{{ form.last_maintenance_date.id_for_label }}">Last Maintenance Date</label>
                                    {{ form.last_maintenance_date }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="{{ form.maintenance_interval_days.id_for_label }}">Maintenance Interval (Days)</label>
                                    {{ form.maintenance_interval_days }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-success btn-lg">
                                <i class="fas fa-save"></i> Add Equipment
                            </button>
                            <a href="{% url 'maintenance_dashboard' %}" class="btn btn-secondary btn-lg">
                                <i class="fas fa-times"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}